---
interface Props {
  title: string;
  href: string;
  image?: string;
  video?: string;
}

const { title, image, video, href } = Astro.props;
---

<a href={href} class="group block">
  <div class="overflow-hidden rounded-[26px] bg-[#ddd]">
    {
      video ? (
        <video
          class="h-[320px] w-full object-cover transition duration-500 group-hover:scale-[1.03] md:h-[430px] xl:h-[520px]"
          autoplay
          muted
          loop
          playsinline
        >
          <source src={video} type="video/mp4" />
        </video>
      ) : (
        <img
          src={image}
          alt={title}
          class="h-[320px] w-full object-cover transition duration-500 group-hover:scale-[1.03] md:h-[430px] xl:h-[520px]"
        />
      )
    }
  </div>

  <div class="pt-3">
    <h3 class="font-mono-custom text-[24px] text-[#3a3a44] md:text-[28px]">
      {title}
    </h3>
  </div>
</a>